<form action="/articles/<%= @article.id %>" method="POST">
  <input id="hidden" type="hidden" name="_method" value="PATCH">
  <label for="title">New Title:
  <input type="text" name="title" value=<%= @article.title %>>
  </label>
  <label for="content">New Content:
  <input type="text" name="content" value=<%= @article.content %>>
  </label>
  <input type="submit"/>
</form>
