<%= @article.title %>
<%= @article.content %>

<form action="/articles/<%= @article.id %>" method="POST">
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <input type="submit" value="DELETE IF YOU DARE!"/>
</form>
